header {
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
  }

  .cabecalho__nome {
    width: 90%;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
  }

  .cabecalho__profissao {
    width: 100%;
    padding: 0;
    font-size: 32px;
    font-weight: 600;
    padding-top: .1em;
    color: var(--cor-destaque);
  }
  
  .cabecalho__informacoes {
    display: flex;
    flex-direction: column;
    color: var(--cor-secundaria);
    align-items: start;
    padding-bottom: 4em;
    width: 100%;
  }

  .cabecalho__informacoes__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }

  .cabecalho__informacoes__informacao {
    margin: 0 1em 1em 0;
    width: 100%;
    text-align: end;
    align-items: center;
  }

  .cabecalho_img {
    width: 14px;
  }