
.sessao {
    padding: .5em 0 0 0;
}

.linha {
    border: 1px solid var(--cor-secundaria);
    margin: .5em 0;
  }

.titulo_sessao {
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-secundaria);
    padding: 0 0 1em 0;
}

.subtitulo_sessao {
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    padding: 0 0 .5em 0;
    line-height: 1.2;
}

.titulo__destaque {
    color: var(--cor-destaque);
}

.lista__posicao {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.lista__sessao {
    list-style-type: disc;
    margin: 0 0 1em 1.5em;
    width: 100%;
    line-height: 1.5;
}

.lista__sessao li::marker {
    color: var(--cor-destaque);
    font-size: 18px;
}

.lista__tarefas {
    list-style-type: disc;
    width: 100%;
    line-height: 1.5;
    padding-bottom: 2em;
}

.lista__tarefas li::marker {
    color: var(--cor-secundaria);
    font-size: 18px;
}

.lista__cursos {
    list-style-type: disc;
    width: 100%;
    line-height: 1.5;
    padding-bottom: 2em;
}

.lista__bullet {
    margin-left: 1.5em;
}

.data {
    text-transform: uppercase;
    padding: 0 0 .3em 0;
    font-family: var(--fonte-secundaria);
}

.lista__tabelada{
    display: flex;
    justify-content: space-between;
}

.lista__linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: disc;
}

.lista__item {
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-primaria);
}