@import url("./reset.css");
@import url("./cabecalho.css");
@import url("./resumo.css");
@import url("./sessao.css");

:root {
  --fonte-principal: "Rockwell";
  --fonte-secundaria: "Calibri";

  --cor-principal: #555555;
  --cor-secundaria: #1d1c1d;
  --cor-destaque: #0080ad;
  --branco: #ffffff;
}

body {
  font-family: var(--fonte-principal);
  color: var(--cor-principal);
  font-size: 16px;
  background-color: azure;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 1.5em 5em;
  background-color: var(--branco);
}

.impresso {
display: flex;
justify-content: space-around;
}

.print-button {
  display: block;
  margin-top: 1.5em;
  border: 0;
  border-radius: .5em;
  padding: 1em;
  background-color: var(--cor-destaque);
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 16px;
  
}
  


/* Estilos para a versão impressa */
@media print {
  .print-button {
    display: none;
  }

  .container {
    width: 100%;
  }

  .page-break {
    page-break-before: always; /* Quebra de página antes do elemento */
    /* Ou use page-break-after: always para quebrar depois do elemento */
  }

  @page {
    margin: 1.5cm 2cm 1.5cm 0;
    size: A4 portrait;
    counter-increment: page;
    @top-center {
      content: "Página " counter(page);
    }
  }
  
  body {
    margin: 0 2cm 0 0;
    font-size: 14px;
  }
}
  